/* Hero section */

h6 {
    color: #4d5061;
}

.main-text {
    font-size: 3.7rem;
    /* font-weight: 700; */
    line-height: 1.3;
    font-style: normal;
}


.keyword-main:first-child{
    background-color: #011638;
    color: #dfdfdf;
}

.keyword-main:nth-child(2) {
    background-color: #0D21A1;
    color: #dfdfdf;
    border-radius: 50%;
}


@media screen and (min-width: 350px) {
    main {
        height: fit-content;
    }

    main > div {
        padding: 0 25px 0 0;
    }

    .keyword-main {
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    

    .keyword-main:last-child {
        width: 0;
        height: 0;
        border-left: 60px solid transparent;
        border-right: 60px solid transparent;
        border-bottom: 110px solid #EEC643;
        position: relative;
    }

    .keyword-main:last-child > span {
        position: absolute;
        top: 43px;
    }
}

@media screen and (min-width: 992px) {
    /* Hero section */
    /* main {
        height: calc(100vh - 180px);
    } */

    main > div {
        padding: 0;
    }

    .keyword-main {
        width: 150px;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
    }    

    .keyword-main:last-child {
        width: 0;
        height: 0;
        border-left: 100px solid transparent;
        border-right: 100px solid transparent;
        border-bottom: 150px solid #EEC643;
        position: relative;
    }

    .keyword-main:last-child > span {
        position: absolute;
        top: 70px;
    }
}

/* Footer */
